.calendar {
    background-color: #eee;
    max-width: 570px; /* 80 * 7 */
}

.headerDay {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.day {
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    overflow: hidden;
}

.day.day--empty {
    background-color: #ccc;
}

.day.day--hot {
    background-image: url('../../../public/images/hot.png');
}
.day.day--mid {
    background-image: url('../../../public/images/mid.png');
}
.day.day--freeze {
    border-radius: 10px;
    background-image: url('../../../public/images/freeze.png');
}

.dayImage { 
}