.calendar {
    background-color: #fff;
    border-radius: 30px;
    border: solid 1px #ccc;
    max-width: fit-content;
    margin: 2em auto;
    padding: 1em 2em;
}

.title {
    background: left center url('/public/images/flame.png') no-repeat;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
}

.header {
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 1em;
    padding-top: 1em;
}

.headerDay {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.days {
    background: radial-gradient(circle at center, #eee 0%, #eee 35px, transparent 35px);
    background-size: 100px 103px;
    max-width: 700px;
}

.day {
    /* background: radial-gradient(#eee 35px, transparent 35px); */
    /* background: #FEF5DE; */
    display: inline-block;
    height: 70px;
    width: 70px;
    overflow: hidden;
    padding: 5px 15px;
    margin: 10px 0;
}

.day--streak {
    background-color: #FEF5DE;
}

.day--streak:first-of-type {
    border-radius: 40px 0 0 40px;
}

.day--streak:last-of-type {
    border-radius: 0 40px 40px 0;
}

.day.week-start {
    border-radius: 40px 0 0 40px;
}

.day.week-end {
    border-radius: 0 40px 40px 0;
}

.day--streak.week-end:first-of-type,
.day--streak.week-start:last-of-type {
    border-radius: 40px;
}

.day--today::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    outline: solid 3px black;
    outline-offset: -3px;
}

.day-image {
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
}

.day--freeze .day-image {
    border-radius: 10px;
}