.calendar {
    background-color: #fff;
    border-radius: 30px;
    border: solid 1px #ccc;
    max-width: fit-content;
    margin: 2em auto;
    padding: 1em 2em;
}

.header {
    color: #444;
    padding-bottom: 1em;
    padding-top: 1em;
}

.headerDay {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.days {
    max-width: 602px;
}

.day {
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: 3px;
}

.day.day--empty {
    background-color: #eee;
}

.day.day--hot {
    background-image: url('../../../public/images/hot.png');
}
.day.day--mid {
    background-image: url('../../../public/images/mid.png');
}
.day.day--freeze {
    border-radius: 10px;
    background-image: url('../../../public/images/freeze.png');
}

.dayImage { 
}